@charset "utf-8";
/* CSS Document */

body{
	
	background-color:black;
	margin-top: 0px;
	overflow-x: hidden;
	overflow-y: hidden;
}

ul{
	list-style-type: none;
	
}
a{
	
	font-family: 'Source Sans Pro', sans-serif;
	text-decoration: none;
	color: white;
	
}

a:hover{
font-family: 'Source Sans Pro', sans-serif;

text-decoration: underline;
}


input{
	
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: bold;
	
	
}
#esquerda{
	float: left;
	color: whitesmoke;
	width: 48vw;
	margin-top: 0px;
	height: 100%;
}

#fbcaixa{
	width: 50px;
	height: 50px;
	margin-left: 20px;
	float: left;
	margin-top: 20px;
	
}

#sociais{
	float: left;
	margin-left: 0vw;
	transition: 1s;
	
}
#Facebook{
	background-image: url(fb.png);
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

#Facebook:hover{
	background-image: url(fb2.png)
}

#instcaixa{
	width: 50px;
	
	margin-left: 20px;
	float: left;
	margin-top: 20px;
}

#Instagram{
	background-image: url(inst.png);
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

#Instagram:hover{
	background-image: url(inst2.png)
}

#vazio{
	height: 30vh;
}

#foto{
	
	background-image: url(foto.png);
	width: 15vw;
	height: 15vw;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	margin:auto;
	
}

#nome1{ 
	width: 300px;
	
	font-family: 'Allerta', sans-serif;
	font-size: 42px;
	margin:auto;
	margin-top: 3vh;;
}

#nome2{
	width: 300px;
	font-family: 'Allerta', sans-serif;
	font-size: 24px;
	margin:auto;
}
	
#curriculo{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	margin-left: 20px;
	margin-top: 80px;
	
}

#direita{
	float: right;
	height: 100%;
	width: 48vw;
	background-color: black;
	color: whitesmoke;
	font-family: 'Source Sans Pro', sans-serif;
}

#menuSobre{
	color: whitesmoke;
	font-family: 'Source Sans Pro', sans-serif;
	width: 96vw;
	display: inline-block;
	text-decoration: none;
	list-style-type: none;
	font-size: 32px;
	margin-left: 100vw;
	position: absolute;
	transition: 1s;
	
	
}

#iniciolinkd{
	float: left;

}

#iniciolinkd:hover{
	text-decoration: underline;
	cursor: pointer;
}

#contatolinkd{
	float: right;
	margin-left: 75vw;
	
}

#contatolinkd:hover{
	text-decoration: underline;
	cursor: pointer;
}
#vaziod{
	height: 30vh;
}

#texto{
	font-size: 18px;
	width: 30vw;
	height: 300px;
	text-align: justify;
	margin: auto;
	margin-top: 0;
}
	


#sociaisS{
	float: right;
	margin-right: 0vw;
	margin-top: 150px;
	width: 150px;
	
}

#fbcaixaS{
	width: 50px;
	height: 50px;
	margin-left: 20px;
	float: left;
	margin-top: 20px;
	
}
#FacebookS{
	background-image: url(fb.png);
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	
}

#FacebookS:hover{
	background-image: url(fb2.png)
}

#instcaixaS{
	width: 50px;
	float: left;
	margin-left: 20px;
	
	margin-top: 20px;
}

#InstagramS{
	background-image: url(inst.png);
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

#InstagramS:hover{
	background-image: url(inst2.png)
}



#sobrepor{
	width: 52vw;
	height: 100%;
	
	background-color: whitesmoke;
	position: absolute;
	
	margin-left: 48vw;
	
	transition: 1s;
	overflow:hidden;
}


#menu{
	color: black;
	font-family: 'Source Sans Pro', sans-serif;
	display: inline-block;
	text-decoration: none;
	list-style-type: none;
	font-size: 32px;
	width: 47vw;
	
	position: absolute;
}

#sobre:hover{
	text-decoration: underline;
	cursor: pointer;
	
}

#sobre{
	float: left;
}


#contatolinkp{
	color: black;
	cursor: pointer;
	
}

#contatolinkp{
	text-decoration: underline;
}

#contatop{
	float: right;
	margin-left: 33vw;
	cursor: pointer;
	
}

#contatop:hover{
	text-decoration: underline;
}



#vazio2{
	height: 30vh;
	
}

#portfoliolinks{
	margin-top: 0;
}

#illustrator{
	margin-top: 40px;
}


#linkphotoshop{
	color: black;
	font-weight: 500;
	font-size: 36px;
	margin-top: 0px;
	cursor: pointer;
	
}



#linkillustrator{
	color: black;
	font-weight: 500;
	font-size: 36px;
	margin-top: 40px;
	cursor: pointer;
}

#linkaplicoes{
	color: black;
	font-weight: 500;
	font-size: 36px;
	margin-top: 40px;
	cursor: pointer;
}

#circulo{
	height: 200px;
	width: 200px;
	border-radius: 50%;
    display: inline-block;
	background-color: black;
	float: right;
	margin-right: -100px;
	margin-top: -30px;
	
}

#logo{
	width: 200px;
	height: 60px;
	
	background-image: url(Logo_nova_h.png);
	background-size:contain;
	background-repeat: no-repeat;
	float: right;
	margin-top: 350px;
	margin-right: -3vw;
}












#portfolio{
	width: 101vw;
	height: 100%;
	background-color: white;
	position: absolute;
	margin-left: 48vw;
	transition: 1s;
	
	visibility: hidden;
}


#menuport{
	width: 100vw;
	opacity: 0;
	transition: 1s;
	transition-delay: 0.5s;
	
}

#menuport li{
	display: inline-block;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 32px;
	
	
	
	
}

#menuport li:hover{
	text-decoration: underline;
	cursor: pointer;
}

#contatoport{
	margin-left: 87vw;
}

#circulo1ps{
	height: 200px;
	width: 200px;
	border-radius: 50%;
    display: inline-block;
	background-color: black;
	float: right;
	margin-right: -100px;
	margin-top: 35vh;
	opacity: 0;
	transition: 1s;
	
	
}

#circulo2ps{
	height: 200px;
	width: 200px;
	border-radius: 50%;
    display: inline-block;
	background-color: black;
	float: left;
	margin-left:-100px;
	margin-top: 35vh;
	opacity: 0;
	transition: 1s;
	
	
}

#imagensps{
	font-family: 'Source Sans Pro', sans-serif;
	margin: auto;
	width:1010px;
	margin-top: 15vh;
	opacity: 0;
	transition: 1s;
	transition-delay: 0.5s;
	
	
}

#fotops1{
	width: 500px;
	height: 281px;
	background-image: url(island.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	float: left;
	
}


#fotops1:hover #caminhadaaooasis{
	visibility: visible;
	cursor: pointer;
}

#caminhadaaooasis{
	background-color: rgba(241,241,241,0.8);
	width: 490px;
	height: 271px;
	margin-left: 5px;
	margin-top: 5px;
	visibility: hidden;
	
	
}
#espacadortextoasis{
	height: 50px;
}
#caminhadatexto{
	height: 200px ;
	width: 400px;
	margin: auto;
	
}






#fotops2{
	
	width: 500px;
	height: 281px;
	background-image: url(Dwarf.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	float: left;
	margin-left: 5px;
}

#fotops2:hover #dwarf{
	visibility: visible;
	cursor: pointer;
}
#dwarf{
	background-color: rgba(241,241,241,0.8);
	width: 490px;
	height: 271px;
	margin-left: 5px;
	margin-top: 5px;
	visibility: hidden;	
}
#espacadortextodwarf{
	height: 45px;
}
#dwarftexto{
	height: 200px ;
	width: 400px;
	margin: auto;
	
}





#fotops3{
	
	width: 500px;
	height: 281px;
	background-image: url(fairy.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	float: left;
	margin-top: 5px;
}

#fotops3:hover #fairy{
	visibility: visible;
	cursor: pointer;
}

#fairy{
	background-color: rgba(241,241,241,0.8);
	width: 490px;
	height: 271px;
	margin-left: 5px;
	margin-top: 5px;
	visibility: hidden;	
}

#espacadortextofairy{
	height: 45px;
}

#fairytexto{
	height: 200px ;
	width: 400px;
	margin: auto;
	
}





#fotops4{
	
	width: 500px;
	height: 281px;
	background-image: url(Flash_City.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}

#fotops4:hover #flash{
	visibility: visible;
	cursor: pointer;
}

#flash{
	background-color: rgba(241,241,241,0.8);
	width: 490px;
	height: 271px;
	margin-left: 5px;
	margin-top: 5px;
	visibility: hidden;	
}

#espacadortextoflash{
	height: 45px;
}

#flashtexto{
	height: 200px ;
	width: 400px;
	margin: auto;
	
}



#imagensil{
	position: absolute;
	font-family: 'Source Sans Pro', sans-serif;
	margin: auto;
	width:1010px;
	left: 50%;
	margin-left: -505px;
	top: 25%;
	opacity: 0;
	transition: 0.5s;
	transition-delay: 1s;
	
	
}



#fotoil1{
	width: 500px;
	height: 281px;
	background-image: url(Hills_Instagram.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	float: left;
	
}


#fotoil1:hover #hills{
	visibility: visible;
	cursor: pointer;
}

#hills{
	background-color: rgba(241,241,241,0.8);
	width: 490px;
	height: 271px;
	margin-left: 5px;
	margin-top: 5px;
	visibility: hidden;
	
	
}
#espacadortexthills{
	height: 50px;
}
#hillstexto{
	height: 200px ;
	width: 400px;
	margin: auto;
	
}






#fotoil2{
	
	width: 500px;
	height: 281px;
	background-image: url(bills4.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	float: left;
	margin-left: 5px;
}

#fotoil2:hover #bills{
	visibility: visible;
	cursor: pointer;
}
#bills{
	background-color: rgba(241,241,241,0.8);
	width: 490px;
	height: 271px;
	margin-left: 5px;
	margin-top: 5px;
	visibility: hidden;	
}
#espacadortextobills{
	height: 45px;
}
#billstexto{
	height: 200px ;
	width: 400px;
	margin: auto;
	
}





#fotoil3{
	
	width: 500px;
	height: 281px;
	background-image: url(construtivismo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	float: left;
	margin-top: 5px;
}

#fotoil3:hover #cartaz{
	visibility: visible;
	cursor: pointer;
}

#cartaz{
	background-color: rgba(241,241,241,0.8);
	width: 490px;
	height: 271px;
	margin-left: 5px;
	margin-top: 5px;
	visibility: hidden;	
}

#espacadortextocartaz{
	height: 45px;
}

#cartaztexto{
	height: 200px ;
	width: 400px;
	margin: auto;
	
}





#fotoil4{
	
	width: 500px;
	height: 281px;
	background-image: url(Edificios.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}

#fotoil4:hover #edificios{
	visibility: visible;
	cursor: pointer;
}

#edificios{
	background-color: rgba(241,241,241,0.8);
	width: 490px;
	height: 271px;
	margin-left: 5px;
	margin-top: 5px;
	visibility: hidden;	
}

#espacadortextoedificios{
	height: 45px;
}

#edificiostexto{
	height: 200px ;
	width: 400px;
	margin: auto;
	
}



#logoport{
	width: 200px;
	height: 60px;
	
	background-image: url(Logo_nova_h.png);
	background-size:contain;
	background-repeat: no-repeat;
	float: right;
	margin-top: 350px;
	margin-right: -3vw;
	opacity: 0;
	transition: 0.5s;
	transition-delay: 0.5s;
}



#contatoPage{
	position: absolute;
	width: 55vw;
	height: 100vh;
	left: 101vw;
	background-color: black;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	transition: 1s;
}

#ladoD{
	width: 50vw;
	height: 100vh;
	
	position: absolute;
}

#iniciocontatopage{
	font-size: 32px;
	float: right;
	margin-right: 1vw;
	margin-top: 20px;
	cursor: pointer;
}

#iniciocontatopage:hover{
	text-decoration: underline;
}

#formaqui{
	position: absolute;
	width: 600px;
	height: 550px;
	top: 50%;
	left: 50%;
	margin-left: -300px;
	margin-top: -275px;
	
	
}

#contateme{
	font-size: 24px;
	
}


#nome{
	width: 293px;
	height: 30px;
	margin-top: 10px;
	
}

#assunto{
	margin-left: 2px;
	width: 293px;
	height: 30px;
	margin-top: 10px;
}

#email{
	width: 596px;
	height: 30px;
	margin-top: 30px;
}

#mensagem{
	width: 596px;
	padding-bottom: 200px;
	margin-top: 30px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: bold;
}

#enviarbutton{
	width: 604px;
	height: 40px;
	background-color: #101010;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: white;
	border-color: white;
	cursor: pointer;
}


#enviarbutton:hover{
	
	color:#4caf50;
	border-color: #4caf50;
	border-width: 3px;
}

#sucesso{
	font-style: italic;
	font-weight: 100;
	font-size: 14px;
	color: limegreen;
	visibility: hidden;
}

#falha{
	font-style: italic;
	font-weight: 100;
	font-size: 14px;
	color: red;
	visibility: hidden;
	margin-top: -17px;
}

#formcontato{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
}



#lightbox{
	width: 101vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.96);
	position: absolute;
	margin-left: -1vw;
	display: table;
	opacity: 0;
	transition: 0.3s;
	visibility: hidden;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	
}

#exitlight{
	float: right;
	margin-right: 60px;
	font-size: 40px;
	margin-top: 20px;
	cursor: pointer;
	opacity: 0.5;
}

#exitlight:hover{
	opacity: 1;
}

#caminhadalight{
	position:absolute;
	width: 900px;
	height: 510px;
	background-image: url(island.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	top: 50%;
	left: 50%;
	margin-top: -255px;
	margin-left: -450px;
	vertical-align: middle;
	opacity: 0;
	transition: 0.5s;
}


#dwarflight{
	position:absolute;
	width: 900px;
	height: 520px;
	background-image: url(Dwarf.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	
	top: 50%;
	left: 50%;
	margin-top: -260px;
	margin-left: -450px;
	vertical-align: middle;
	opacity: 0;
	transition: 0.5s;
	
}


#fairylight{
	position:absolute;
	width: 780px;
	height: 520px;
	background-image: url(fairy.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	top: 50%;
	left: 50%;
	margin-top: -260px;
	margin-left: -390px;
	vertical-align: middle;
	opacity: 0;
	transition: 0.5s;
}

#flashlight{
	position:absolute;
	width: 780px;
	height: 520px;
	background-image: url(Flash_City.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	top: 50%;
	left: 50%;
	margin-top: -260px;
	margin-left: -390px;
	vertical-align: middle;
	opacity: 0;
	transition: 0.5s;
}


#hillslight{
	position:absolute;
	width: 600px;
	height: 600px;
	background-image: url(Hills_Instagram.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	
	top: 50%;
	left: 50%;
	margin-top: -300px;
	margin-left: -300px;
	vertical-align: middle;
	opacity: 0;
	transition: 0.5s;
	
}


#billslight{
	position:absolute;
	width: 400px;
	height: 520px;
	background-image: url(bills4.png);
	background-repeat: no-repeat;
	background-size: contain;
	
	top: 50%;
	left: 50%;
	margin-top: -260px;
	margin-left: -200px;
	vertical-align: middle;
	opacity: 0;
	transition: 0.5s;
	
}

#edificiolight{
	position:absolute;
	width: 700px;
	height: 600px;
	background-image: url(Edificios.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	
	top: 50%;
	left: 50%;
	margin-top: -300px;
	margin-left: -350px;
	vertical-align: middle;
	opacity: 0;
	transition: 0.5s;
	
}

#cartazlight{
	position:absolute;
	width: 400px;
	height: 600px;
	background-image: url(construtivismo.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	
	top: 50%;
	left: 50%;
	margin-top: -300px;
	margin-left: -200px;
	vertical-align: middle;
	opacity: 0;
	transition: 0.5s;
	
}

