@charset "utf-8";
/* CSS Document */

body{
	
	background-color:black;
	margin-top: 0px;
	overflow-x: hidden;

}

ul{
	list-style-type: none;
	
}
a{
	
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	color: white;
	
}

a:hover{
font-family: 'Open Sans', sans-serif;

text-decoration: underline;
}

#esquerda{
	float: left;
	color: whitesmoke;
	width: 48vw;
	margin-top: 0px;
	height: 100%;
}

#fbcaixa{
	width: 50px;
	height: 50px;
	margin-left: 20px;
	float: left;
	margin-top: 20px;
	
}

#sociais{
	float: left;
	margin-left: 0vw;
	transition: 1s;
	
}
#Facebook{
	background-image: url(fb.png);
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

#Facebook:hover{
	background-image: url(fb2.png)
}

#instcaixa{
	width: 50px;
	
	margin-left: 20px;
	float: left;
	margin-top: 20px;
}

#Instagram{
	background-image: url(inst.png);
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

#Instagram:hover{
	background-image: url(inst2.png)
}

#vazio{
	height: 30vh;
}

#foto{
	
	background-image: url(foto.png);
	width: 300px;
	height: 300px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	margin:auto;
	
}

#nome1{ 
	width: 300px;
	
	font-family: 'Allerta', sans-serif;
	font-size: 42px;
	margin:auto;
	margin-top: 20px;
}

#nome2{
	width: 300px;
	font-family: 'Allerta', sans-serif;
	font-size: 24px;
	margin:auto;
}
	
#curriculo{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	margin-left: 20px;
	margin-top: 80px;
	
}

#direita{
	float: right;
	height: 100%;
	width: 48vw;
	background-color: black;
	color: whitesmoke;
	font-family: 'Open Sans', sans-serif;
}

#menuSobre{
	color: whitesmoke;
	font-family: 'Open Sans', sans-serif;
	width: 96vw;
	display: inline-block;
	text-decoration: none;
	list-style-type: none;
	font-size: 32px;
	margin-left: 100vw;
	position: absolute;
	transition: 1s;
	
	
}

#iniciolinkd{
	float: left;

}

#iniciolinkd:hover{
	text-decoration: underline;
	cursor: pointer;
}

#contatolinkd{
	float: right;
	margin-left: 75vw;
	
}
#vaziod{
	height: 30vh;
}

#texto{
	font-size: 18px;
	width: 30vw;
	height: 300px;
	text-align: justify;
	margin: auto;
	margin-top: 0;
}
	


#sociaisS{
	float: right;
	margin-right: 0vw;
	margin-top: 150px;
	width: 150px;
	
}

#fbcaixaS{
	width: 50px;
	height: 50px;
	margin-left: 20px;
	float: left;
	margin-top: 20px;
	
}
#FacebookS{
	background-image: url(fb.png);
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	
}

#FacebookS:hover{
	background-image: url(fb2.png)
}

#instcaixaS{
	width: 50px;
	float: left;
	margin-left: 20px;
	
	margin-top: 20px;
}

#InstagramS{
	background-image: url(inst.png);
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

#InstagramS:hover{
	background-image: url(inst2.png)
}



#sobrepor{
	width: 52vw;
	height: 100%;
	
	background-color: whitesmoke;
	position: absolute;
	
	margin-left: 48vw;
	
	transition: 1s;
	overflow:hidden;
}


#menu{
	color: black;
	font-family: 'Open Sans', sans-serif;
	display: inline-block;
	text-decoration: none;
	list-style-type: none;
	font-size: 32px;
	width: 47vw;
	
	position: absolute;
}

#sobre:hover{
	text-decoration: underline;
	cursor: pointer;
	
}

#sobre{
	float: left;
}


#contatolinkp{
	color: black;
	
}

#contatop{
	float: right;
	margin-left: 33vw;
	
}




#vazio2{
	height: 30vh;
	
}

#portfoliolinks{
	margin-top: 0;
}

#illustrator{
	margin-top: 40px;
}
#aplicacoes{
	margin-top: 40px;
}

#linkphotoshop{
	color: black;
	font-weight: 500;
	font-size: 36px;
	margin-top: 0px;
	
}



#linkillustrator{
	color: black;
	font-weight: 500;
	font-size: 36px;
	margin-top: 40px;
}

#linkaplicoes{
	color: black;
	font-weight: 500;
	font-size: 36px;
	margin-top: 40px;
}

#circulo{
	height: 200px;
	width: 200px;
	border-radius: 50%;
    display: inline-block;
	background-color: black;
	float: right;
	margin-right: -100px;
	margin-top: -30px;
	
}

#logo{
	width: 200px;
	height: 60px;
	
	background-image: url(Logo_nova_h.png);
	background-size:contain;
	background-repeat: no-repeat;
	float: right;
	margin-top: 250px;
	margin-right: -3vw;
}