@charset "utf-8";
/* CSS Document */

body{
	
	background-color:black;
	margin-top: 0px;
	overflow-x: hidden;

}

ul{
	list-style-type: none;
	
}
a{
	
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	color: white;
	
}

a:hover{
font-family: 'Open Sans', sans-serif;

text-decoration: underline;
}

#esquerda{
	float: left;
	color: whitesmoke;
	width: 48vw;
	margin-top: 0px;
	height: 100%;
}

#fbcaixa{
	width: 50px;
	height: 50px;
	margin-left: 20px;
	float: left;
	margin-top: 20px;
	
}
#Facebook{
	background-image: url(fb.png);
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

#Facebook:hover{
	background-image: url(fb2.png)
}

#instcaixa{
	width: 50px;
	
	margin-left: 20px;
	float: left;
	margin-top: 20px;
}

#Instagram{
	background-image: url(inst.png);
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

#Instagram:hover{
	background-image: url(inst2.png)
}

#vazio{
	height: 30vh;
}

#foto{
	
	background-image: url(foto.png);
	width: 230px;
	height: 230px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	margin:auto;
	
}

#nome1{ 
	width: 200px;
	
	font-family: 'Allerta', sans-serif;
	font-size: 28px;
	margin:auto;
	margin-top: 20px;
}

#nome2{
	width: 200px;
	font-family: 'Allerta', sans-serif;
	font-size: 16px;
	margin:auto;
}
	
#curriculo{
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	margin-left: 20px;
	margin-top: 50px;
	
}

#direita{
	float: right;
	height: 100%;
	width: 48vw;
	background-color: black;
	color: whitesmoke;
	font-family: 'Open Sans', sans-serif;
}

#menuSobre{
	color: whitesmoke;
	font-family: 'Open Sans', sans-serif;

	display: inline-block;
	text-decoration: none;
	list-style-type: none;
	font-size: 24px;
	
	visibility: hidden;
	
	position: absolute;
	
}

#iniciolinkd{
	float: left;

}

#iniciolinkd:hover{
	text-decoration: underline;
	cursor: pointer;
}

#contatolinkd{
	float: right;
	margin-left: 75vw;
	
}

#texto{
	font-size: 14px;
	width: 40vw;
	height: 300px;
	text-align: justify;
	margin: auto;
	margin-top: 100px;
}
	





#sobrepor{
	width: 52vw;
	height: 100%;
	
	background-color: whitesmoke;
	position: absolute;
	
	margin-left: 48vw;
}


#menu{
	color: black;
	font-family: 'Open Sans', sans-serif;
	display: inline-block;
	text-decoration: none;
	list-style-type: none;
	font-size: 24px;
}

#sobre:hover{
	text-decoration: underline;
	cursor: pointer;
	
}

#sobre{
	float: left;
}


#contatolinkp{
	color: black;
	
}

#contatop{
	float: right;
	margin-left: 37vw;
	
}




#portfoliolinks{
	margin-top: 70px;
}

#portfoliolinks li{
	margin-top: 20px;
}

#linkphotoshop{
	color: black;
	font-weight: 500;
	font-size: 26px;
}

#linkillustrator{
	color: black;
	font-weight: 500;
	font-size: 26px;
	
}

#linkaplicoes{
	color: black;
	font-weight: 500;
	font-size: 26px;
}

#circulo{
	height: 150px;
	width: 150px;
	border-radius: 50%;
    display: inline-block;
	background-color: black;
	float: right;
	margin-right: -75px;
	margin-top: 20px;
	
}

#logo{
	width: 200px;
	height: 60px;
	
	background-image: url(Logo_nova_h.png);
	background-size:contain;
	background-repeat: no-repeat;
	float: right;
	margin-top: 250px;
	margin-right: -2vw;
}